{% extends 'base.html' %}

{% block title %}<title>{{ product.title }}</title>{% endblock %}
{% block content %}
    <h3>Поиск</h3>
    <form action="{% url 'result' %}" method="get">
        <input name="search" type="text" placeholder="Найти...">
    </form>
    <hr>

    <a href="{% url 'details' product.pk %}"><h1>{{ product.title }}</h1></a>
    <p><img src="{{ product.img.url }}" style="height: 200px; width: 200px"></p>
    <br>
    <h4>Информация о товаре:<br>{{ product.description }}</h4>
    <br><br>

    <div style="display:flex; align-items:center; flex-direction:center;  width:40px; height:20px">
        <button type="submit" style="  text-size:14px;">Заказать</button>
    </div>

{% endblock %}